.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.2);
}
