.projectIndividual{
  padding: 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.projectIndividual p,
.githubLinks {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  
}

.githubLinks{
  text-align: center;
  font-weight: var(--fw-bold);
}

.btn{
  padding: 0.5em 1.25em;
  text-decoration: none;
  color: var(--clr-light);
  background-color: var(--clr-accent);
}
.btn + .btn{
  margin-left: 1em;
}
