.projectIndividual{
  padding: 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.projectIndividual p,
.githubLinks {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  
}

.linksTitle{
  text-align: center;
  font-weight: var(--fw-bold);
}

.githubLinks{
  display: grid;
  justify-content: center;
  gap: 2em;
}


@media(min-width: 600px){
  .githubLinks{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
