.myServices {
  text-align: center;
  background-color: var(--clr-dark);
  background-image: url('/images/services-bg.jpg');
  color: var(--clr-light);
  background-size: cover;
  /* background-blend-mode: multiply; */
}

.services {
  max-width: 1000px;
  margin: 0 auto 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

.title {
  margin-bottom: 1em;
  color: var(--clr-accent);
}

.title::after {
  content: '';
  display: block;
  height: 1px;
  background-color: var(--clr-light);
  width: 2em;
  margin: 0.5em auto 1em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover{
  transform: scale(1.2);
}

@media (min-width: 800px) {
  .services {
    display: flex;
    gap: 2em;
  }
  .service {
    width: 100%;
  }
}
