.title {
  margin-bottom: 0.25em;
  font-weight: var(--fw-reg);
  font-family: var(--ff-primary);
}
.subtitle {
  margin: 0;
  background: var(--clr-accent);
  text-transform: uppercase;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: 0.5em;
  display: inline-block;
}

.introImg {
  box-shadow: var(--bs);
}

.title strong {
  display: block;
}

/* @media(min-width:600px) and (max-width:800px){
  .title{
    font-size: 2rem;
  }
} */

@media (min-width: 600px) {
  .intro {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .card {
    display: grid;
    width: min-content;
    margin-bottom: 5em;
    column-gap: 1em;
    grid-template-areas:
      'image title'
      'image subtitle';
    grid-template-columns: min-content max-content;
  }

  .introImg {
    grid-area: image;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .subtitle {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}
