.title {
  margin-bottom: 0.25em;
  font-weight: var(--fw-reg);
  font-family: var(--ff-primary);
}
.subtitle {
  margin: 0;
  background: var(--clr-accent);
  /* font-size: var(--fs-h3); */
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  padding: 0.25em 1em;
  display: inline-block;
}

.introImg {
  box-shadow: var(--bs);
}

.title strong {
  display: block;
}

@media (min-width: 600px) {
  .intro {
    height: calc(100vh - 65px);
    padding: 7em 2em;
  }
  .card {
    display: grid;
    margin: 0 auto;
    width: min-content;
    column-gap: 1em;
    grid-template-areas:
      'image title'
      'image subtitle';
    grid-template-columns: clamp(250px, 30vw, 350px) max-content;
    grid-template-rows: 1fr 1fr;

    /* grid-template-columns: min-width max-content */;
  }

  .introImg {
    grid-area: image;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .subtitle {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    padding: 0.75em 1em;
    width: calc(100% + 1.5em);
  }
}
