.footer{
  background: var(--clr-footer);
  color: var(--clr-accent);
  padding: 5em 2em;
  text-align: center;
}
.email{
  margin: 0;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
}

.list{
  display: flex;
  justify-content: center;
  gap: 2em;
  list-style: none;
  padding: 0;
}

.link{
  text-decoration: none;
  color: inherit;
}

